{{ define "main" }}
    <header>        
        {{ $currentPage := . }}
        {{ with .Params.subtitle }}        
            <h1 class="with-subtitle">{{ $currentPage.Title}}</h1>
            <h2>{{ . }}</h2>
        {{ else }}
            <h1>{{ .Title }}</h1>
        {{ end }}
    </header>
    <article>        
        {{.Content}}
    </article>
    {{ range .Pages }}
        <article>
            <h2>{{.Date.Format "2006-01-02"}}</h2>
            {{ .Content }}
        </article>
    {{ end }}
{{ end }}