body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0; }

.logo {
  grid-area: logo; }
  .logo img {
    max-width: 100%;
    height: auto; }

.content {
  grid-area: content;
  border-left: 1px solid black;
  padding-left: 1em;
  margin-right: 1em; }
  @media only screen and (max-width: 600px) {
    .content {
      border-left: none; } }

.footer {
  grid-area: footer; }

.footer-line {
  position: relative;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: 1em;
  padding-top: 1em; }
  @media only screen and (max-width: 600px) {
    .footer-line {
      border-left: none; } }
  .footer-line::after {
    content: '';
    border: 1px solid black;
    background-color: lightgrey;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 0;
    bottom: -1px; }

.footer-text {
  font-size: small;
  margin-bottom: 1em; }

.content header h1 {
  margin-top: 0; }
  .content header h1.with-subtitle {
    margin-bottom: 0.2em; }

.content header h2 {
  margin-top: 0.2em;
  font-size: 170%; }

.content table {
  background-color: #eee;
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse; }

.content th {
  border: 1px solid black;
  border-bottom-width: 3px;
  text-align: left;
  padding: 0.3em;
  vertical-align: top; }

.content td {
  border: 1px solid black;
  padding: 0.3em;
  vertical-align: top; }

.content .information-statistics table {
  width: 0;
  border: 0; }

.content .information-statistics table td {
  padding: 0;
  border: 0; }
  .content .information-statistics table td[valign='bottom'] {
    vertical-align: bottom; }

a {
  color: grey;
  text-decoration: underline; }
  a:hover {
    color: blue; }

.menu {
  grid-area: menu;
  border-top: 7px solid black; }
  .menu h1 {
    margin: 0;
    padding: 0.2em 0.5em;
    font-size: inherit;
    color: white;
    background-color: lightgrey;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .menu .bottom {
    margin-top: 1em; }
  .menu .grad {
    background: linear-gradient(black 0%, white 70%);
    height: 15px; }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em; }
  .menu li {
    list-style-image: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .menu li.active li a {
    color: grey;
    text-decoration: underline; }
  .menu li.active a, .menu li.active li.active a {
    color: black;
    text-decoration: none; }
    .menu li.active a:hover, .menu li.active li.active a:hover {
      color: blue; }

.copyright {
  font-size: x-small;
  margin: 0 0.5em; }

.wrapper {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-areas: "logo   logo" "menu   content" ".      footer"; }
  @media only screen and (max-width: 600px) {
    .wrapper {
      grid-template-columns: auto;
      grid-template-areas: "logo" "menu" "content" "footer"; } }

ul li {
  list-style-image: url("/images/square-bullet.svg"); }

table.news {
  border: none;
  background-color: transparent; }
  table.news td {
    vertical-align: top;
    border: none; }
    table.news td:first-child {
      white-space: nowrap;
      padding-right: 1em; }
  table.news p {
    margin-top: 0;
    margin-bottom: 0; }
  table.news ul {
    margin-top: 0;
    margin-bottom: 0; }

figure img {
  max-width: 100%;
  height: auto; }

figcaption h4 {
  margin: 0; }

figcaption p {
  margin: 0; }

pre {
  padding: 1em;
  width: auto;
  overflow: auto; }

pre code {
  white-space: pre-wrap; }

/**************
 * USER NOTES *
 **************/
.notes-user {
  background-color: #eee; }

.notes-header {
  font-style: italic;
  padding: 0.2em 0.3em;
  background-color: lightgrey; }

@media screen and (min-width: 600px) {
  .notes-note {
    display: flex; } }

.notes-meta {
  background-color: #eef;
  border-bottom: 2px solid #cce; }
  @media screen and (min-width: 600px) {
    .notes-meta {
      width: 16em; } }

.notes-author, .notes-date {
  margin: 0.2em 0.4em; }

.notes-body {
  flex: 4;
  border-bottom: 2px solid #ccc;
  padding: 0.2em 0.4em; }
  .notes-body p:first-child {
    margin-top: 0; }

.notes-footer {
  display: flex;
  flex-direction: row-reverse;
  background-color: lightgrey; }
  .notes-footer .notes-button {
    font-weight: bold;
    background-color: #ccc;
    color: black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-decoration: none;
    padding: 0 0.2em; }

.pagination {
  padding: 0;
  margin: 1em 0; }
  .pagination .page-item {
    list-style: none;
    display: inline-block;
    margin: 0.2em; }
  .pagination .page-link {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    width: 3em;
    padding: 3px;
    text-decoration: none;
    color: black; }
    .pagination .page-link:hover {
      background-color: lightgrey; }
  .pagination .disabled .page-link {
    color: lightgrey; }
    .pagination .disabled .page-link:hover {
      background-color: inherit; }
  .pagination .active .page-link {
    color: black;
    font-weight: bold;
    background-color: lightgrey; }

/***************
 * TCLMOBPROGS *
 ***************/
.tclmobprogs .proto {
  font-family: monospace;
  margin-top: 2em; }

.tclmobprogs .param {
  font-family: monospace;
  text-decoration: underline; }
  .tclmobprogs .param::before {
    content: "<";
    display: inline-block;
    text-decoration: none; }
  .tclmobprogs .param::after {
    content: ">";
    display: inline-block;
    text-decoration: none; }

.tclmobprogs .param.opt::before {
  content: "["; }

.tclmobprogs .param.opt::after {
  content: "]"; }

.tclmobprogs .param.lit {
  text-decoration: none; }

.tclmobprogs .reftoc {
  column-width: 15ch; }

.tclmobprogs .field {
  display: inline-block;
  font-style: italic;
  width: 7em; }

.tclmobprogs dt {
  font-weight: bold; }

.tclmobprogs .active a {
  color: black;
  text-decoration: none; }

.mudtext {
  background-color: black;
  width: 80ch; }

span.red {
  color: #800000; }

span.bgred {
  background: #800000; }

span.brightred {
  color: #FF0000; }

span.bgbrightred {
  background: #FF0000; }

span.green {
  color: #008000; }

span.bggreen {
  background: #008000; }

span.brightgreen {
  color: #00FF00; }

span.bgbrightgreen {
  background: #00FF00; }

span.cyan {
  color: #008080; }

span.bgcyan {
  background: #008080; }

span.brightcyan {
  color: #00FFFF; }

span.bgbrightcyan {
  background: #00FFFF; }

span.blue {
  color: #000080; }

span.bgblue {
  background: #000080; }

span.brightblue {
  color: #0000FF; }

span.bgbrightblue {
  background: #0000FF; }

span.yellow {
  color: #808000; }

span.bgyellow {
  background: #808000; }

span.brightyellow {
  color: #FFFF00; }

span.bgbrightyellow {
  background: #FFFF00; }

span.magenta {
  color: #800080; }

span.bgmagenta {
  background: #800080; }

span.brightmagenta {
  color: #FF00FF; }

span.bgbrightmagenta {
  background: #FF00FF; }

span.gray {
  color: #BEBEBE; }

span.bggray {
  background: #BEBEBE; }

span.brightgray {
  color: #D3D3D3; }

span.brightbggray {
  background: #D3D3D3; }

span.black {
  color: #000000; }

span.bgblack {
  background: #000000; }

span.white {
  color: #D3D3D3; }

span.bgwhite {
  background: #D3D3D3; }

span.brightwhite {
  color: #FFFFFF; }

span.bgbrightwhite {
  background: #FFFFFF; }

.help-toc {
  column-width: 15ch;
  list-style: none;
  padding: 0; }
  .help-toc li {
    list-style-image: none; }

h1.help-header {
  line-height: 1.3em; }
  h1.help-header .help-cmd {
    font-family: monospace;
    text-transform: lowercase;
    border: 1px solid black;
    padding: 0.1em 0.2em;
    margin-right: 0.5em;
    border-radius: 5px; }
