<h2>Latest News</h2>
<table class="news">
  {{ range first .Params.count (where .Site.RegularPages "Section" "news") }}
    <tr>
      <td>{{ .PublishDate.Format "02-01-2006" }}</td>
      <td>{{ .Content }}</td>
    </tr>
  {{ end }}
</table>
<p><a href="{{ (.Site.GetPage "section" "news").URL }}">More News</a></p>
