{{ $notes := where .Site.Pages "Dir" (printf "usernotes/%s/" .Params.key) }}
{{ if $notes }}
<div class="notes-user">
    <div class="notes-header">User contributed notes: {{ if .Params.title }}{{ .Params.title }}{{ else }}{{ replaceRE "/" " " .Params.key }}{{ end }}</div>
    {{ range $notes.Reverse }}
        <div class="notes-note">
            <div class="notes-meta">
                <div class="notes-author">{{ .Params.Author }}</div>
                <div class="notes-date">{{ .Date.Format "Jan 2, 2006 15:04" }}</div>
            </div>
            <div class="notes-body">
                {{ .Content }}
            </div>
        </div>
    {{ end }}
    <div class="notes-footer"><a href="/add-note" class="notes-button">Add Note</a></div>
</div>
{{ end }}
