{{ define "main" }}
    <header>        
        {{ $currentPage := . }}
        {{ with .Params.subtitle }}        
            <h1 class="with-subtitle">{{ $currentPage.Title}}</h1>
            <h2>{{ . }}</h2>
        {{ else }}
            <h1>{{ .Title }}</h1>
        {{ end }}
    </header>
    <article class="{{.URL | anchorize}}">
        {{.Content}}
        <ul class="help-toc">
            {{ range .Pages }}
                <li><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </article>
{{ end }}
