{{ define "main" }}
    <header>        
        {{ $currentPage := . }}
        <h1 class="help-header">Help 
            {{ range .Params.commands }}        
                <span class="help-cmd">{{ . }}</span>                
            {{ end }}
        </h1>
    </header>
    <article class="{{.URL | anchorize}}">
        {{.Content}}        
    </article>
    <p>Go back to the <a href="/help">help index</a>.</p>
{{ end }}
