---
title: "Builder Manual 101"
date: 2019-11-02T20:52:47+01:00
hidden: true
menu:
    main:
      parent: building
---
<style>
font.speech {
    color:#BBBB00;
}
.mudtalk {
    color:silver;
    background-color: black;
    padding: 1em;
}
</style>

<div class="mudtalk">
First some rules/findings, just to get that off my chest.<br>
You are no longer a mortal player now. That means you have at least a bit of responsibility towards the rest of the players, mortal and immortal.<br>
Practically, this means that you are logged, and when council suspects foul play, we'll take a look. Don't worry, only few councilmembers have access to the logs.<br>
This guide is a start how to build. It won't tell you what kind of ratings you should use for your armor, or howmany lines of description you should use. There are other documents on the website about that.<br>
<br>
So, now that you have become immortal, you got a load of new commands and possibilities.<br>
Let's start with explore some of the commands.<br>
You can see which commands you have by doing:<br>
Verlag says: '<font class="speech">type: wizhelp</font>'<br>
You can use all the commands preceded by a <font class="speech">[*]</font>;<br>
Let's go somewhere else:<br>
<br>
Verlag says: '<font class="speech">type: goto 3302</font>'<br>
3302 is the vnum of the room. You can also go to mobs:<br>
Verlag says: '<font class="speech">type: goto zelda</font>'<br>
You can play with "poofin" and "poofout" on your own.<br>
Before we continue, get yourself some more vision:<br>
Verlag says: '<font class="speech">type: holylight better</font>'<br>
So, that's much better, now you can see everything in a room, including vnums.<br>
<br>
Some existing commands have been extended.<br>
For example, the prompt-command has more options:<br>
Verlag says: '<font class="speech">type: help prompt</font>'<br>
For example, use my prompt (or don't): <br>
Verlag says: '<font class="speech">type: config prompt &lt;%r [%R] %c&gt;%i%t%hhp %mm %vmv | %e&gt;</font>'<br>
<br>
Now that you're a bit warmed up, let's start working on some building skills.<br>
You got some vnums from the headbuilder to play with. I assume you're working with 4300-4399, but change the vnums into the ones you got.<br>
First create the first room.<br>
Verlag says: '<font class="speech">type: redit create 4300</font>'<br>
You are now automatically transferred into that room.<br>
It is pretty empty now, and should be looking like this:<br>
<br>
<code>
Description: <br>
Name:       []<br>
Area:       [  102] [5] testarea<br>
Vnum:       [4300]<br>
Sector:     [inside]<br>
Room flags: []<br>
Manarate  : [100]<br>
Healrate  : [100]<br>
Level     : [0]<br>
Characters: [Verlag]<br>
Objects:    [none]<br>
Prog instance: none<br>
</code>
<br>
Let's start on top; type a name for the room:<br>
Verlag says: '<font class="speech">type: name &lt;anything you like&gt;</font>'<br>
Sector gives the mud information about the environment. It is used for movement and battles.<br>
Verlag says: '<font class="speech">type: ? sector</font>'<br>
These are the sectors you can use.<br>
Type name of the sector to set it:<br>
Verlag says: '<font class="speech">type: city</font>'<br>
Let's take a look at room flags:<br>
Verlag says: '<font class="speech">type: ? room</font>'<br>
Most flags are self explaining:<br>
    dark: you need a light to see something, day and night.<br>
    private: only owners and invitees can enter.<br>
    safe: no fighting allowed<br>
    deathtrap: you're not allowed to use it unless the headbuilder agrees.<br>
Manarate and Healrate are obsolete and not used in code anymore.<br>
Level denies characters with lower level. Use a mob to prevent access, not this flag.<br>
Objects is empty, that's because there aren't objects in the room, and there is no program attached.<br>
Let's add a description to the room.<br>
Verlag says: '<font class="speech">type: desc</font>'<br>
This works thesame as writing a note, or changing your own description. You won't be the first to have a roomdescription in your own.<br>
When you're finished, exit the editor:<br>
Verlag says: '<font class="speech">type: done</font>'<br>
Verlag says: '<font class="speech">type: look</font>'<br>
You should see your description now. In most room descriptions, there are statements people try to look at. For example "On the wall is a picture." This picture doesn't need to be an object with a description, yet you want to look at it. These little descriptions are called "extra descriptions". Let's add that picture:<br>
Verlag says: '<font class="speech">type: redit</font>'<br>
Verlag says: '<font class="speech">type: ed add picture</font>' (and put a little description of a picture here)<br>
Exit the editor again after you're done:<br>
Verlag says: '<font class="speech">type: done</font>'<br>
Verlag says: '<font class="speech">type: look picture</font>'<br>
<br>
Next, let's add another room and connect it to this one. Or more easier: let's create a connection, which automatically adds another room.<br>
Verlag says: '<font class="speech">type: redit</font>'<br>
Verlag says: '<font class="speech">type: north dig 4301</font>'<br>
Verlag says: '<font class="speech">type: walk north</font>'<br>
Fill out the form of this room as well. (I'll wait)<br>
Next, let's add a door to the connection:<br>
Verlag says: '<font class="speech">type: south door</font>'<br>
And a lock:<br>
Verlag says: '<font class="speech">type: south locked</font>'<br>
Verlag says: '<font class="speech">type: south closed</font>'<br>
You can add a key to the lock with "south key &lt;vnum of the key&gt;", but as we don't have a key yet, we can't do that.<br>
So, now you can create a room, and connect it to other rooms.<br>
Finish off:<br>
Verlag says: '<font class="speech">type: done</font>'<br>
Now take a look around and see if everything is as expected. You can look at the stats of the room:<br>
Verlag says: '<font class="speech">type: stat droom</font>'<br>
<br>
Let's continue with a mob. m(ob)edit basically works thesame as r(oom)edit.<br>
Create a mob with vnum 4300:<br>
Verlag says: '<font class="speech">type: medit create 4300</font>'<br>
Now you'll see <br>
<br>
<code>
Name:        [no name] <br>
Area:        [  102] [v5] testarea<br>
Vnum:        [4300]                    Count:            [0]<br>
Sex:         [none  ]                  Race:             [unique]<br>
Start Pos:   [stand]                   Default Pos:      [stand]<br>
Level:       [ 0]                      Align:            [   0]<br>
Wealth:      [     0]                  Material:         []<br>
Hitroll:     [ 0]                      Damage type:      [hit]<br>
Size:        [      tiny]              Group:            [0]<br>
Dice:        Hit: [0d0+0]   Mana: [0d0+0]   Damage: [0d0+0]<br>
AC:          Pierce: [ 0]   Bash: [ 0]   Slash: [ 0]   Exotic: [ 0]<br>
Act:         [NPC]<br>
Offensive:   [none]<br>
Immune:      [none]<br>
Resistance:  [none]<br>
Vulnrable:   [none]<br>
Affected by: [none] [none]<br>
Form:        [none]<br>
Parts:       [none]<br>
Short descr: (no short description)<br>
Long descr:<br>
(no long description)<br>
Description:<br>
(no description)<br>
Prog instance: none<br>
</code>
<br>
The important things are working thesame as in redit.<br>
There are a few different descriptions. You have "long description", which is the line you see when you enter a room and that mob is visible. (<i>A cityguard is here</i>) You have "short description", which you see when you poke the cityguard. (You poke <i>the cityguard</i>). You have the normal description, which you see when you look at the mob. (<i>This man is tall..etc</i>) Linked to the descriptions is the "name" parameter. This is what you type when you want to address the mob. For example "poke <i>cityguard</i>".<br>
When you fill out "race" and "level", a few defaults are filled out automatically. You can alter it as you see fit.<br>
Hitroll is the bonus the mobs gets on top of his normal hitroll, which is based on level. No need to change that unless, ofcourse, you see a reason why a mob is better or worse than normal.<br>
Dice and AC speak for themselves. Don't change those from the default unless you have a good reason.<br>
Now take a look at the "Act" flags: <br>
Verlag says: '<font class="speech">type: ? act</font>'<br>
This is what they mean:<br>
<br>
sentinel           : the mob will stay in the room where it was resetted<br>
scavenger          : the mob will pick up and if possible use items<br>
remove_obj         : the shopkeeper with this flag will destroy items sold to him<br>
aggressive         : the mob will attack players within 5 levels difference<br>
tcl_aggressive     : the mob is an aggressive mob by his program <br>
stay_area          : the mob will stay in the area where it was resetted<br>
wimpy              : the mob will flee<br>
pet                : the mob is a pet<br>
train              : the mob is a trainer<br>
practice           : the mob is a teacher<br>
unseen_servant     : the mob is invisible for mortal characters<br>
undead             : the mob is an undead<br>
cleric             : the mob knows and uses clerical spells<br>
mage               : the mob knows and uses mage spells<br>
thief              : the mob knows and uses thief skills<br>
warrior            : the mob knows and uses warrior skills<br>
no_align           : the death of this mob won't affect alignment of the killer <br>
no_purge           : the mob won't be purged when told to. Don't use this one, it's very annoying for builders and it adds nothing to the game<br>
outdoors           : the mob will stay outdoors<br>
indoors            : the mob will stay indoors<br>
is_healer          : the mob is a healer<br>
gain               : you can gain skills at this mob<br>
update_always      : this mob will be updated every reset<br>
is_changer         : this mob is a money changer<br>
peacefull          : you can't attack this mob<br>
noquest            : you won't get quests to kill this mob<br>
ignore_position    : programs will always run, regardingless of his position<br>
ingore_neghealing  : the mobs hitpoints won't deteriorate from a negative healing environment<br>
corrupt            : this shopkeeper is a corrupt one<br>
mudwanderer        : this mob can wander through the intire mud. Ask permission before setting this flag<br>
pc_blocks_respawn  : this mob will respawn at a lower rate when people are present in the area<br>
<br>
Next, take a look at the offensive flags:<br>
Verlag says: '<font class="speech">type: ? offensive</font>'<br>
<br>
area_attack        : the mob can attack everyone it's fighting with<br>
backstab           : the mob will perform a backstab if he's aggressive and able to<br>
bash               : the mob uses bash<br>
berserk            : the mob can berserk<br>
disarm             : the mob can disarm<br>
dodge              : the mob can dodge (this is getting boring)<br>
fade               : the mob will try to hide<br>
fast               : the mob is hasted<br>
kick               : the mob can kick<br>
dirt_kick          : the mob can dirtkick<br>
parry              : the mob can parry<br>
rescue             : the mob can rescue<br>
use_tail           : the mob uses his tail, if he has one<br>
trip               : the mob can trip<br>
crush              : the mob can crush<br>
assist_all         : the mob will assist anyone. 'PROTECT THE INNOCENT!!  BANZAI!!', you know the drill<br>
assist_align       : the mob will assist anyone with thesame alignment<br>
assist_race        : the mob will assist people with thesame race<br>
assist_players     : the mob will assist players<br>
assist_guard       : the mob will assist guards<br>
assist_vnum        : the mob will assist mobs with thesame vnum<br>
remember           : the mob will attack again when you have fled and returned<br>
hunter             : the mob will come after you when you flee<br>
headbutt           : the mob knows how to headbutt<br>
<br>
You can make a mob immune, resistant or vulnerable for certain kinds of things.<br>
Verlag says: '<font class="speech">type: ? immresvul</font>'<br>
For immunities, you need a good reason, and permission. For vulnerabilities and resistances you need a reason, and balance. So, don't make him vulnerable for everything.<br>
Verlag says: '<font class="speech">type: ? aff</font>'<br>
You see the spells a mob can be affected with. The spells are cast as with his level.<br>
At last for this mob, you can add extra descriptions, like you did with the room.<br>
Verlag says: '<font class="speech">type: done</font>'<br>
There you go, your first mob has been created.<br>
Verlag says: '<font class="speech">type: stat dmob 4300</font>'<br>
<br>
Let's skip objects for a moment, and look at the different ways to get a mob "alive". There are two ways, one is a one-time thing, the other is a more permanent solution.<br>
The first thing is loading a mob. <br>
Verlag says: '<font class="speech">type: load mob 4300</font>'<br>
There you go. Type look, and see if it worked. When you're finished cheering and toying around with it, remove it again:<br>
Verlag says: '<font class="speech">type: purge &lt;name of the mob&gt;</font>'<br>
Or to clean out the complete room:<br>
Verlag says: '<font class="speech">type: purge</font>'<br>
When a mob is loaded, it won't come back when the mud does a copyover, or when he's killed. This is not what we want. What we want is the second option: resetting of the mob.<br>
Verlag says: '<font class="speech">type: reset</font>'<br>
How boring, nothing yet. Let's add the mob to the list:<br>
Verlag says: '<font class="speech">type: reset 1 mob 4300 2 1</font>' (reset one mob fourthousandthreehundred two one) <br>
This means: make sure there are maximum of two of these mobs in the mud, and one in this room.<br>
Now reset the room, and look:<br>
Verlag says: '<font class="speech">type: reset room</font>'<br>
If I'm correct, you have your mob back. Reset the room again, and you see that nothing happens. This is because there is only one mob allowed in this room. Go to your other room, and add thesame reset and reset that room as well. You see that the mob will reset there also. Now you have two mobs.<br>
Verlag says: '<font class="speech">type: mwhere 4300</font>'<br>
There you go, all two of them.<br>
<br>
Now let's continue for an object.<br>
Verlag says: '<font class="speech">type: oedit create 4300</font>'<br>
You see the next form:<br>
<br>
<code>
Name:          [no name] <br>
Area:          [  102] [v5] testarea<br>
Vnum:          [4300] [0 counts]<br>
Type:          [trash]<br>
Material:      [no material]<br>
Level:         [0]<br>
Wear flags:    []<br>
Extra flags:   []<br>
Extra2 flag:   []<br>
Weight:        [0]<br>
Cost:          [0]<br>
Condition:     [100]<br>
Prog instance: none<br>
Short desc:    (no short description)<br>
Long desc:<br>
        (no description)<br>
</code>
<br>
The descriptions and name are similar to the ones you used with mobs. Unlike mobs, objects don't have a standard description when you look at it. When you do, you'll see the long description. You can overrule this by adding an extra description. (like the painting in the room) Use the "name" ofthe mob as extradescription.<br>
You have different types of objects:<br>
Verlag says: '<font class="speech">type: ? type</font>'<br>
Most things are pretty selfexplaining. You can play around later, but first let's make a weapon:<br>
Verlag says: '<font class="speech">type: weapon</font>'<br>
The form changes a little.<br>
Add the descriptions: long, short, extra and add a name based on the short and long description.<br>
Let's continue by telling it how you can want to wear the item.<br>
Verlag says: '<font class="speech">type: ? wear</font>'<br>
You have to be able to pick it up, and to wield it:<br>
Verlag says: '<font class="speech">type: take</font>'<br>
Verlag says: '<font class="speech">type: wield</font>'<br>
Now look at the extra flags.<br>
<br>
glow               : the object is glowing<br>
hum                : the object is humming<br>
dark               : the object can't be seen without light<br>
lock               : ?<br>
evil               : the object reacts on detect_evil<br>
invis              : the object is invisible<br>
magic              : the object reacts on detect_magic<br>
no_drop            : the object can't be dropped (a curse)<br>
bless              : the object reacts on detect_good<br>
anti-good          : the object can't be worn by good aligned chars/mobs<br>
anti-evil          : the object can't be worn by evil aligned chars/mobs<br>
anti-neutral       : the object can't be worn by neutral aligned chars/mobs<br>
no_remove          : the object can't be removed when worn (a curse)<br>
inventory          : ?<br>
no_purge           : the object won't be purged with a purge command. (don't use this)<br>
rot_death          : the object will decay when a timer trigger triggers<br>
vis_death          : ?<br>
non_metal          : the object won't react on heat_metal spell<br>
no_show            : the object is invisible for mortal chars<br>
no_locate          : the object can't be located by 'locate object' spell<br>
melt_drop          : the object will be destroyed when dropped<br>
sell_extract       : the object will disappear after being sold<br>
freeze_proof       : the object won't be affected by cold based spells<br>
burn_proof         : the object won't be affected by heat based spells<br>
no_uncurse         : the object can't be uncursed<br>
no_identify        : the object can't be identified<br>
no_steal           : the object can't be stolen<br>
no_sell            : the object can't be sold (can be set by chars themselves as well)<br>
reflecting         : the object is reflecting (needs additional properties<br>
noquest            : the object won't be a target for quests<br>
pc_blocks_respawn  : the object won't be reset when people are in the area (usefull for treasures)<br>
saveobj            : the object will be saved, so it's still there after a reboot/crash<br>
<br>
So... now you can create your areas. We've talked a little about being an immortal and how to use the commands. <br>
Next we talked about creating a mob, and an object. We even talked about the difference between loading and resetting mobs and objects.<br>
The last thing I want to do, is tell you about my job, and the way to real immortality.<br>
Before you start an area, you need to file some basic information to me.<br>
Verlag says: '<font class="speech">type: help newarea</font>'<br>
With this information, I can see if the area is material we can use, and what to use to create the area. As for mobs, rooms and objects, there's a template to fill out for new areas. <br>
Verlag says: '<font class="speech">type: stat area</font>'<br>
Most things are relevant for an area. Most important for you are the name, the creator and the absence of the "unfinished" flag. The name and creator are shown on the "area" command, and the existence of the flag means that you won't get xp from killing mobs, and that objects will crumble.<br>
Last thing to say is: good luck on your new areas, and may I express the hope that many areas will flow from your hands with lots and lots of many lined descriptions.<br>
<br>
Verlag<br>
</div>