---
title: "Fatal Objects"
date: 2019-11-02T20:43:19+01:00
hidden: true
menu:
    main:
      parent: building
---
<script>
var idcounter = 0;
var formDrawn = false;
var otype = "1";
var pricemodifier = 1.0;

var pricemodifiers = new Array(1,1,1,1,3,1,1.5,1,1,1,1,1,1,1,1,50,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1);
var chars = "123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
/*

1 light 
2 scroll
3 wand
4 staff
5 weapon
6 treasure
7 armor
8 potion
9 clothing
A furniture
B trash
C container
D drink-container
E key
F food
G money
H boat
I npc_corpse
J fountain
K pill
L protect
M map
N portal
O warp_stone
P room_key
Q gem
R jewelry
S jukebox
T quest
U clan
*/

function isDefined(x) {
    return (typeof(x)!='undefined') && (x!=null);
}

function flag() {
    var a = arguments;
    this.txt = isDefined(a[0]) ? a[0] : 'lege flag';
    this.modifier = isDefined(a[1]) ? a[1] : 0;
    this.otype = isDefined(a[2]) ? a[2] : '123456789ABCDEFGHIJKLMNOPQRSTU';
    this.vartype = isDefined(a[3]) ? a[3] : 'integer';
    this.toAbs =  isDefined(a[4]) ? a[4] : false;
    idcounter++;
    this.id = "flag" + idcounter;
}

flag.prototype.render = function() {
    var html = "<tr><td>" + this.txt + "</td><td>";
    if (this.vartype=='boolean') {
    html += "<input type='checkbox' id='" + this.id + "' onclick=calcForm()>";
    } else {
    html += "<input type='text' id='" + this.id + "'";
    html += " size='5' maxlength='5' mode='numeric' class='numeric'>";
    }
    html += "</td></tr>";
    return html;
}

flag.prototype.isType = function(otype) {
    return this.otype.indexOf(otype)>=0;
}

flag.prototype.value = function() {
    var v=0;
    var obj = document.getElementById(this.id)
    if (this.vartype=='boolean') {
    v = obj.checked ? 1 : 0;
    } else {
//    v = parseInt('0'+obj.value, 10);
    v = obj.value;
    if (this.toAbs) v = Math.abs(v);
    }
    return v * this.modifier;
}

var arv = new Array();
arv['inflight'] = new flag('Infinite Light?'     , 3    , "1", "boolean");
arv['levelscroll'] = new flag('Level'               , 1    , "28KT");
arv['amountspell'] = new flag('Amount of spells'    , 1    , "28KT");
arv['levelwand'] = new flag('Level'               , 1    , "34");
arv['totalcharges'] = new flag('Charges total'       , 1    , "34");
arv['amount'] = new flag('Number of dice'      , 1    , "5");
arv['dice'] = new flag('Sides of dice'       , 1    , "5");
arv['ac0'] = new flag('Ac 0'                , 0.7  , "7");
arv['ac1'] = new flag('Ac 1'                , 0.7  , "7");
arv['ac2'] = new flag('Ac 2'                , 0.7  , "7");
arv['ac3'] = new flag('Ac 3'                , 0.9  , "7");
arv['totalweight'] = new flag('Total Weight'        , 1    , "C");
arv['weightitem'] = new flag('Weight/item'         , 1    , "C");
arv['contmulti'] = new flag('Multiplier'          , 1    , "C");
arv['silver'] = new flag('Silver'              , 0.0002    , "G");
arv['gold'] = new flag('Gold'                , 0.02 , "G");
arv['infcharges'] = new flag('Infinite charges?'   , 3    , "N", "boolean");

var ar = new Array();
ar.push(new flag('blind'         ,-0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('invisible'     , 1    , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('detect_evil'   , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('detect_invis'  , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('detect_magic'  , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('detect_hidden' , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('detect_good'   , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('sanctuary'     , 5    , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('faerie_fire'   ,-0.5  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('infrared'      , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('curse'         ,-2    , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('poison'        ,-0.3  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('protect_evil'  , 0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('protect_good'  , 0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('sneak'         , 0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('hide'          , 0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('flying'        , 1    , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('pass_door'     , 1    , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('haste'         , 3    , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('calm'          , 0    , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('weaken'        ,-0.3  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('darkvision'    , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('swim'          , 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('regeneration'  , 5    , "", "boolean"));
ar.push(new flag('slow'          ,-3    , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('waterbreathing', 0.3  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('bless'         , 0.3  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('armor'         , 0.02 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('change_sex'    ,-0.1  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('frenzy'        , 0.1  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('giant_strength', 0.2  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('shield'        , 0.02 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('stone_skin'    , 0.02 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('chaos_shield'  , 0.3  , "", "boolean"));
ar.push(new flag('wild_shield'   , 0.3  , "", "boolean"));
ar.push(new flag('waterwalk'     , 0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('bark_skin'     , 0.02 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('detect_curse'  , 0.3  , "", "boolean"));
ar.push(new flag('hallucination' ,-1    , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('hunger'        ,-0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('thirst'        ,-0.5  , "123456789ABCDEFGHKMNOQRT", "boolean"));
ar.push(new flag('str'           , 0.75 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('dex'           , 0.75 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('int'           , 0.75 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('wis'           , 0.75 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('con'           , 0.75 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('mana'          , 0.75 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('hp'            , 0.02 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('move'          , 0.02 , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('ac'            ,-1    , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('hitroll'       , 0.3  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('damroll'       , 0.3  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('saving-para'   ,-0.5  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('saving-rod'    ,-0.5  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('saving-petri'  ,-0.5  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('saving-breath' ,-0.5  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('saving-spell'  ,-0.5  , "123456789ABCDEFGHKMNOQRT"));
ar.push(new flag('alignment'     , 0.002, "123456789ABCDEFGHKMNOQRT", "integer", true));
ar.push(new flag('flaming'       , 0.75 , "5", "boolean"));
ar.push(new flag('frost'         , 0.75 , "5", "boolean"));
ar.push(new flag('vampiric'      , 0.75 , "5", "boolean"));
ar.push(new flag('sharp'         , 0.75 , "5", "boolean"));
ar.push(new flag('vorpal'        , 0.75 , "5", "boolean"));
ar.push(new flag('two_hands'     ,-2    , "5", "boolean"));
ar.push(new flag('shocking'      , 0.75 , "5", "boolean"));
ar.push(new flag('poison'        , 0.75 , "5", "boolean"));


function renderFlags() {
    var html = "<table>"
    for(var idx in arv) {
    var f = arv[idx];
    if (f.isType(otype)) {
        html += f.render();
    }
    }

/*
    for(var i=0;i<arv.length;i++) {
    var f = arv[i];
    if (f.isType(otype)) {
        html += f.render();
    }
    }
*/

    html += "</table>"
    html += "------------------"
    html += "<table>"
    
    for(var i=0;i<ar.length;i++) {
    var f = ar[i];
    if (f.isType(otype)) {
        html += f.render();
    }
    }
    html += "</table>";
    return html;
}

function calcForm() {
    
    var totaal = 0;

// the values
    switch (""+otype) {
    case "1": totaal = arv['inflight'].value(); break; // light
    case "2": break; // scroll
    case "3": break; // wand
    case "4": break; // staff
    case "5": totaal = arv['amount'].value()*arv['dice'].value(); break;//weapon
    case "7": totaal = arv['ac0'].value()+arv['ac1'].value()+arv['ac2'].value()+arv['ac3'].value(); break; // armour
    case "8": break; // potion
    case "C": break; //container
    case "G": totaal = arv['silver'].value()+arv['gold'].value(); break; //money
    case "K": break; // pill
    case "N": totaal = arv['infcharges'].value(); break; //portal
    case "T": break; // quest
    }

// and the rest
    for(var i=0;i<ar.length;i++) {
    var f = ar[i];
    if (f.isType(otype)) {
        totaal += f.value();
    }
    }
    var pr = totaal * pricemodifier;
    var totaal = Math.round(totaal);
    var pr = Math.round(pr * 100) / 100;

    level.innerHTML = totaal.toString();
    price.innerHTML = pr.toString();
//   window.status = Math.round(totaal * 100)/100;
}

function showForm() {
    otype=objtype.options[objtype.selectedIndex].value;
//  pricemodifier = pricemodifiers[parseInt(otype, 10)-1];
    pricemodifier = pricemodifiers[chars.indexOf(otype)];
    frmlr.innerHTML = renderFlags();
}

</script>
        
<!-- <body onkeyup="calcForm()" onload="showForm()"> -->
<table width="100%" height="100%">
    <tr>
        <td height=30>
            <select id="objtype" onchange="showForm()">
            <option value="1">light</option>
            <option value="2">scroll</option>
            <option value="3">wand</option>
            <option value="4">staff</option>
            <option value="5" selected>weapon</option>
            <option value="6">treasure</option>
            <option value="7">armor</option>
            <option value="8">potion</option>
            <option value="9">clothing</option>
            <option value="A">furniture</option>
            <option value="B">trash</option>
            <option value="C">container</option>
            <option value="D">drink-container</option>
            <option value="E">key</option>
            <option value="F">food</option>
            <option value="G">money</option>
            <option value="H">boat</option>
            <option value="I">npc_corpse</option>
            <option value="J">fountain</option>
            <option value="K">pill</option>
            <option value="L">protect</option>
            <option value="M">map</option>
            <option value="N">portal</option>
            <option value="O">warp_stone</option>
            <option value="P">room_key</option>
            <option value="Q">gem</option>
            <option value="R">jewelry</option>
            <option value="S">jukebox</option>
            <option value="T">quest</option>
            <option value="U">clan</option>
            </select>
            Recommended level / price: <span id="level"></span> / <span id="price"></span>
        </td>
    </tr>
    <tr>
        <td>
            <div id="frmlr"></div>
        </td>
    </tr>
</table>
