<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="fatal, dimensions, joran, mud, rom, mavetju, diku, merc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $styles := resources.Get "css/fd.scss" | toCSS }}
    <link href="{{ $styles.Permalink }}" rel="stylesheet" media="screen">
    <title>{{ block "title" . }}{{ .Site.Title }} - {{ .Title }}{{ with .Params.subtitle }} - {{ . }}{{ end }}{{ end }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="logo">{{ partial "header.html" }}</header>
      <nav class="menu">
        <h1>links</h1>
        <div class="grad"></div>
        {{ partial "menu.html" . }}
        <h1 class="bottom">more...</h1>
        <div class="grad"></div>
        <div class="copyright">&copy; 1999 - {{ now.Format "2006"}}</div>
      </nav>
      <main class="content">{{ block "main" . }}{{ end }}</main>
      <footer class="footer">{{ partial "footer.html" . }}</footer>
    </div>
  </body>
</html>
