{{ define "main" }}
    <header>        
        {{ $currentPage := . }}
        {{ with .Params.subtitle }}        
            <h1 class="with-subtitle">{{ $currentPage.Title}}</h1>
            <h2>{{ . }}</h2>
        {{ else }}
            <h1>{{ .Title }}</h1>
        {{ end }}
    </header>
    {{ if .Params.showtoc }}
        <nav>
            {{ .TableOfContents }}
        </nav>
    {{ end }}
    <article class="{{.URL | anchorize}}">
        {{.Content}}
    </article>
{{ end }}
