<ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        <li class="{{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" .)}}active{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ if and (.HasChildren) ($currentPage.HasMenuCurrent "main" .)}}
                <ul>
                {{ range .Children }}
                    {{ $hidden := false }}
                    {{ if .Page }}{{ if .Page.Params.hidden }}{{ $hidden = true }}{{ end }}{{ end }}
                    {{ if not $hidden }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                {{ end }}
                </ul>
            {{ end }}
        </li>
    {{ end }}
</ul>
