{{ define "main"}}
    <h1>404 - Page Not Found</h1>

    It is said, "To err is human,"<br>
    That quote from alt.times.lore,<br>
    Alas, you have made an error,<br>
    So I say, "404."<br>
    <br>
    Double-check your URL,<br>
    As we all have heard before.<br>
    You ask for an invalid filename,<br>
    And I respond, "404."<br>
    <br>
    Perhaps you made a typo --<br>
    Your fingers may be sore --<br>
    But until you type it right,<br>
    You'll only get 404.<br>
    <br>
    Maybe you followed a bad link,<br>
    Surfing a foreign shore;<br>
    You'll just have to tell that author<br>
    About this 404.<br>
    <br>
    I'm just a lowly server<br>
    (Who likes to speak in metaphor),<br>
    So for a request that I don't know,<br>
    I must return 404.<br>
    <br>
    Be glad I'm not an old mainframe<br>
    That might just dump its core,<br>
    Because then you'd get a ten-meg file<br>
    Instead of this 404.<br>
    <br>
    I really would like to help you,<br>
    But I don't know what you're looking for,<br>
    And since I don't know what you want,<br>
    I give you 404.<br>
    <br>
    Remember Poe, insane with longing<br>
    For his tragically lost Lenore.<br>
    Instead, you quest for files.<br>
    Quoth the Raven, "404!"<br>
    <br>
    - This text was shamesly stolen by Edwin Groothuis from the newsgroup rec.humor.funny.    
{{ end }}
