{{ define "main" }}
    <header>        
        {{ $currentPage := . }}
        {{ with .Params.subtitle }}        
            <h1 class="with-subtitle">{{ $currentPage.Title}}</h1>
            <h2>{{ . }}</h2>
        {{ else }}
            <h1>{{ .Title }}</h1>
        {{ end }}
    </header>
    <article>        
        {{.Content}}
    </article>
    {{ range (.Paginate (sort .Pages "LogicalName") 10).Pages }}
        <figure>
            {{ $src := print "/" (replaceRE ".md$" ".jpg" .File) }}
            <img src="{{ $src }}">
            <figcaption>{{ .Content }}</figcaption>
        </figure>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
{{ end }}
