{{ define "main" }}
    <header><h1>TCL-Programs Reference Manual</h1></header>
    <nav class="tclmobprogs">
        <ul>
            {{ $currentPage := . }}
            {{ range (where (where .Site.Pages.ByWeight "Section" "tclmobprogs") "Title" "!=" "") }}
                <li{{ if eq $currentPage.URL .URL }} class="active"{{ end }}><a href={{.URL}}>{{.Title}}</a></li>
            {{ end }}
        </ul>
    </nav>
    <article class="tclmobprogs">
        <h1>{{.Title}}</h1>
        {{.Content}}
        {{ range .RegularPages }}
            {{ .Content }}
        {{ end}}
    </article>
{{ end }}